extends layouts/layout

block content
  div(style='background: #fff; padding: 5%')
    p
      button(onclick='history.back(-1)') Back
    br
    h4= message
    h5= error.status
    br
    br
    pre #{error.stack}
