doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/dnd.js')
  body
    nav
      ul.container-fluid
        li
          a(href="/setlists") Setlists
        li
          a(href="/songs") Songs
    block content
