doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript' src='')
    script(type='text/javascript' src='')
  body
    .container-fluid
      block content
