doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/dnd.js')
  body
    nav
      ul.container-fluid
        li
          a(href="/setlists/new") Create new setlist
        li
          a(href="/setlists") See all setlists
        li
          a(href="/songs/new") Create new song
        li
          a(href="/songs") See all songs
    block content
