doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p
      a(href='/songs/new') Add New Song

    p
      a(href='/songs') View All Songs
