doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/draggable.js')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/custom.js')
  body
    .container-fluid
      nav.navbar.navbar-default.navbar-static-top
        .container
          a(href="/setlists/new") Create new setlist
          a(href="/setlists") See all setlists
      block content
