doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/chordchart.js')
  body
    nav
      ul
        li
          a(href="/setlists") Setlists
        li
          a(href="/songs") Songs
        li.right
          a(onclick='history.back(-1)' href='#') Back
        li.right
          form(action='/setlists/#{setlist._id}/edit' id='setlistEditForm' ,method='post',enctype='application/x-www-form-urlencoded')
              input(type='hidden',value='',name='songArray',id='songArray')
              input(type='hidden',value='PUT',name='_method')
              a(href='#' onclick="document.getElementById('setlistEditForm').submit();") Save
        li.right
          a(onclick='javascript:window.print()' href='#' alt='Print this page') Print
    block content
