doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/chordchart.js')
  body
    nav
      ul
        li
          a(href="/setlists") Setlists
        li
          a(href="/songs") Songs
        li.right
          a(onclick='history.back(-1)' href='#') Back
        li.right
          a(onclick="window.location='/songs/#{song._id}/edit'" href='#') Edit

    block content
