doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
  body
    .container-fluid
      nav.navbar.navbar-default.navbar-static-top
        .container
          ul.nav.navbar-nav
            li
              a(href="/setlists/new") Create new setlist
            li
              a(href="/setlists") See all setlists
      block content
