/*--- SONG BLOCKS ---*/
.song {
  background: aliceblue;
  padding: 2% 1%;
  border: 1px solid gray;
  border-radius: 10px;
  /* make the button look like a link for now */ }
  .song.edit {
    width: 30%; }
    .set-container .song.edit {
      width: 100%; }
  .song ul {
    display: flex;
    margin-bottom: 0; }
    .set-container .song ul {
      display: block;
      padding: 0; }
  .song li {
    display: inline-flex;
    padding: 0 3%; }
    .song li.name {
      flex: 6; }
    .song li.artist {
      flex: 4; }
    .song li.action {
      flex: 1; }
  .song button {
    background: none;
    border: none;
    color: red; }
    .song button:hover {
      text-decoration: underline; }

/*--- DRAG AND DROP ---*/
[draggable] {
  user-select: none; }

/*--- EDIT SET STYLES ---*/
#all_sets {
  display: flex; }

#the_bench {
  padding: 3%;
  background-color: cornflowerblue;
  min-height: 300px; }

.set-container {
  flex: 1;
  min-height: 300px;
  border: 1px solid #000;
  background-color: bisque;
  text-align: center; }

/*--- SETLIST ---*/
.setlist {
  /* make the button look like a link for now */ }
  .setlist ul {
    border-bottom: 1px dotted gray;
    padding: 2% 0; }
  .setlist li {
    display: inline-flex;
    padding: 0 3%; }
  .setlist button {
    background: none;
    border: none;
    color: red; }
    .setlist button:hover {
      text-decoration: underline; }

/*--- NAV---*/
nav li {
  font-size: 1.2em;
  display: inline; }
  nav li:after {
    content: ' | '; }
  nav li a {
    color: #fff; }

/*--- HOME PAGE ---*/
#home {
  margin: 0 auto;
  width: 90%;
  color: #fff; }

/*--- SET LIST VIEW ---*/
#setlist_view {
  background: #fff; }

/*--- GENERAL---*/
body {
  background-color: #000; }

h1, h3 {
  padding: 2% 1%;
  text-shadow: 2px 2px 10px #000; }

li {
  list-style-type: none; }

input {
  margin-right: 5%; }

.container-fluid {
  margin: 3% 0; }

button[type='submit'] {
  width: 100%;
  padding: 2%;
  margin-bottom: 1%;
  background: chartreuse;
  font-weight: bold; }
