* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

/*--- SHOW SONGS AND SETLISTS ---*/
.song, .setlist {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: block;
  overflow: hidden;
  position: relative; }
  .song ul, .setlist ul {
    display: flex;
    margin-bottom: 0; }
  .song li, .setlist li {
    display: inline-flex;
    padding: 0 3%;
    line-height: 3em; }
    .song li.name, .setlist li.name {
      flex: 6;
      min-height: 40px; }
    .song li.artist, .setlist li.artist {
      flex: 4; }
    .song li.action, .setlist li.action {
      flex: 1; }

/*--- SHOW SONGS ---*/
.song.edit {
  line-height: 3em; }
  .set-container .song.edit {
    height: 50px;
    background: url(/images/drag.png) no-repeat 5% 50% aliceblue; }

.set-container .song ul {
  display: block;
  padding: 0; }

/*--- EDIT SONG STYLES ---*/
span.chord {
  font-weight: bold; }

div.lyrics {
  background: #fff;
  padding: 3%;
  border: 1px solid #000;
  position: relative;
  padding-top: 10%;
  margin-bottom: 3%; }
  div.lyrics:before {
    content: "Lyrics";
    position: absolute;
    font-size: 8px;
    top: 0;
    background: mediumpurple;
    padding: 1%;
    color: whitesmoke; }

/*--- DRAG AND DROP ---*/
[draggable] {
  user-select: none; }

/*--- EDIT SET STYLES ---*/
#edit_view {
  /*--- SETLIST ---*/ }
  #edit_view button {
    padding: 2%;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    margin: 1% 0; }
  #edit_view .stats {
    position: absolute;
    top: 2%;
    font-size: 1em;
    background: yellowgreen;
    padding: 2%;
    border: 1px solid gray; }
  #edit_view .count {
    left: 2%; }
  #edit_view .total-time {
    right: 2%; }
  #edit_view .time {
    color: chocolate;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    font-size: .3em;
    right: 3px; }
  #edit_view #all_sets {
    display: flex; }
    #edit_view #all_sets #set_1, #edit_view #all_sets #set_2, #edit_view #all_sets #set_3 {
      position: relative;
      padding: 1%; }
  #edit_view #bench {
    padding: 3%;
    background: lightblue; }
    #edit_view #bench .song {
      display: inline-block;
      margin: 0 2px;
      padding: 0 1%;
      background-color: aliceblue; }
  #edit_view #trash {
    display: none; }
  #edit_view .set-container {
    flex: 1;
    min-height: 300px;
    border: 1px solid #000;
    background-color: beige;
    text-align: center; }
  #edit_view .setlist ul {
    border-bottom: 1px dotted gray;
    padding: 2% 0; }
  #edit_view .setlist li {
    display: inline-flex;
    padding: 0 3%; }

/*--- DATEPICKER ---*/
div#ui-datepicker-div {
  background: yellowgreen;
  padding: 3%; }

.ui-datepicker-calendar {
  background: lemonchiffon;
  padding: 1%; }

/*--- NAV ---*/
nav li {
  font-size: 1.5em;
  padding: 2%;
  display: inline-block; }
  nav li a {
    color: #fff; }

/*--- HOME PAGE ---*/
#home {
  margin: 0 auto;
  width: 90%;
  color: #fff; }

/*--- SET LIST VIEW ---*/
.content {
  background: #fff;
  padding: 2%; }
  .content #view_setlist {
    display: flex;
    text-align: center;
    margin: 3% 0; }
    .content #view_setlist .set-container {
      flex: 1; }

/*--- EDIT SONG ---*/
#result {
  width: 50%; }

/*--- GENERAL---*/
body {
  background-color: gray;
  padding: 0 5%; }

h1, h3 {
  padding: 2% 1%;
  text-align: center;
  background-color: yellowgreen;
  text-shadow: 2px 2px 5px #888;
  color: #fff; }

h2 {
  line-height: 2em; }

li {
  list-style-type: none; }

input {
  margin-right: 5%; }

.left {
  float: left; }

.right {
  float: right; }

/*--- PRINT ---*/
@media print {
  * {
    color: #000; }
  nav, button {
    display: none; }
  a {
    text-decoration: none; }
  .song {
    border: none;
    padding: 0; }
    .song.edit {
      line-height: 1.3em; }
      .set-container .song.edit {
        height: inherit; } }
