* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

/*--- SHOW SONGS AND SETLISTS ---*/
.song, .setlist {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: block;
  overflow: hidden;
  position: relative; }
  .song:first-of-type, .setlist:first-of-type {
    border-top: 1px solid gray; }
  .song ul, .setlist ul {
    display: flex;
    margin-bottom: 0; }
  .song li, .setlist li {
    display: inline-flex;
    padding: 0 3%;
    line-height: 3em; }
    .song li.name, .setlist li.name {
      flex: 6;
      min-height: 40px; }
    .song li.artist, .setlist li.artist {
      flex: 4; }
    .song li.action, .setlist li.action {
      flex: 1; }

/*--- SONGS VIEW ---*/
.song.edit {
  line-height: 3em; }
  .set-container .song.edit {
    height: 50px;
    background: url(/images/drag.png) no-repeat 5% 50% aliceblue; }

.set-container .song ul {
  display: block;
  padding: 0; }

#display_actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  #display_actions ul {
    display: flex; }
    #display_actions ul li {
      flex: 1;
      text-align: center;
      padding: 2%;
      border-right: 1px solid black;
      background: lightsteelblue;
      font-weight: bold;
      cursor: pointer; }
      #display_actions ul li:active {
        background: #7a9cc7; }

/*--- EDIT SONG STYLES ---*/
span.chord {
  font-weight: bold; }

.section {
  background: #fff;
  padding: 3%;
  position: relative;
  margin: 1%; }
  .section:before {
    position: absolute;
    font-size: 8px;
    top: 0;
    padding: 1%;
    color: whitesmoke;
    right: 0;
    width: 50px;
    text-align: center; }

textarea {
  padding-left: 5px; }

legend {
  text-align: center;
  padding: 3%;
  background: #494949;
  color: white;
  border: 1px inset white;
  min-width: 100px; }

fieldset {
  background: darkgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000; }
  fieldset:not(:first-child) {
    margin-top: 5%; }

div.lyrics:before {
  content: "Lyrics";
  background: mediumpurple; }

div.chords:before {
  content: "Chords";
  background: yellowgreen; }

div.notes {
  z-index: 2;
  border: 1px dashed sienna;
  font-size: xx-small;
  position: absolute;
  right: 5px;
  padding: 1%;
  max-width: 25%; }

button {
  padding: 2%;
  font-size: 1em;
  width: 150px; }

/*--- DRAG AND DROP ---*/
[draggable] {
  user-select: none; }

/*--- EDIT SET STYLES ---*/
#edit_view {
  /*--- SETLIST ---*/ }
  #edit_view button {
    padding: 2%;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    margin: 1% 0; }
  #edit_view .stats {
    position: absolute;
    top: 2%;
    font-size: 1em;
    background: yellowgreen;
    padding: 2%;
    border: 1px solid gray; }
  #edit_view .count {
    left: 2%; }
  #edit_view .total-time {
    right: 2%; }
  #edit_view .time {
    color: chocolate;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    font-size: .3em;
    right: 3px; }
  #edit_view #all_sets {
    display: flex; }
    #edit_view #all_sets #set_1, #edit_view #all_sets #set_2, #edit_view #all_sets #set_3 {
      position: relative;
      padding: 1%; }
  #edit_view #bench {
    padding: 3%;
    background: lightblue;
    min-height: 100px; }
    #edit_view #bench .song {
      display: inline-block;
      margin: 0 2px;
      padding: 0 1%;
      background-color: aliceblue;
      border-top: 1px solid gray; }
  #edit_view #trash {
    display: none; }
  #edit_view .set-container {
    flex: 1;
    min-height: 300px;
    border: 1px solid #000;
    background-color: beige;
    text-align: center; }
  #edit_view .setlist ul {
    border-bottom: 1px dotted gray;
    padding: 2% 0; }
  #edit_view .setlist li {
    display: inline-flex;
    padding: 0 3%; }

/*--- DATEPICKER ---*/
div#ui-datepicker-div {
  background: yellowgreen;
  padding: 3%; }

.ui-datepicker-calendar {
  background: lemonchiffon;
  padding: 1%; }

/*--- NAV ---*/
nav li {
  font-size: 1.5em;
  padding: 2%;
  display: inline-block; }
  nav li a {
    color: #fff; }

/*--- HOME PAGE ---*/
#home {
  margin: 0 auto;
  width: 90%;
  color: #fff; }

/*--- SET LIST VIEW ---*/
.content {
  background: #fff;
  padding: 2%; }
  .content #view_setlist {
    display: flex;
    text-align: center;
    margin: 3% 0; }
    .content #view_setlist .set-container {
      flex: 1; }

/*--- EDIT SONG ---*/
#result {
  width: 50%;
  margin-bottom: 8%;
  position: relative;
  padding: 2%;
  background-color: lightgray; }
  .show-song #result {
    width: 96%;
    margin-top: 1%;
    float: none; }

/*--- GENERAL---*/
body {
  background-color: darkslateblue;
  padding: 0 5%; }

h1, h3 {
  padding: 2% 15%;
  text-align: center;
  background-color: yellowgreen;
  text-shadow: 2px 2px 5px #888;
  color: #fff;
  display: table;
  margin: 0 auto; }

h2 {
  line-height: 2em; }

li {
  list-style-type: none; }

input {
  padding: 1% 2%;
  margin: 1% 2%;
  height: 25px; }

label {
  font-size: 1em;
  color: white; }

select {
  height: 2em;
  font-size: 1.25em; }

.left {
  float: left; }

.right {
  float: right; }

.row {
  display: flex; }
  .row div {
    flex: 1;
    padding: 1%; }
    .row div.wide {
      flex: 2; }

/*--- PRINT ---*/
@media print {
  * {
    color: #000; }
  nav {
    display: none; }
  a {
    text-decoration: none; }
  .song {
    border: none;
    padding: 0; }
    .song.edit {
      line-height: 1.3em; }
      .set-container .song.edit {
        height: inherit; } }
