* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/*--- SONG BLOCKS ---*/
.song {
    border: 1px solid gray;
    display: block;
    overflow: hidden;
    position: relative;

    &.edit {
      line-height: 3em;
      .set-container & {
        height: 50px;
        background: url(/images/drag.png) no-repeat 5% 50% aliceblue;
      }
    }

    ul {
      display: flex;
      margin-bottom: 0;

      .set-container & {
        display: block;
        padding: 0;
      }
    }

    li {
        display: inline-flex;
        padding: 0 3%;

        &.name {flex: 6; min-height: 40px;}
        &.artist {flex: 4;}
        &.action {flex: 1;}
    }
}

/*--- EDIT SONG STYLES ---*/

span.chord {font-weight: bold;}
div.lyrics {
  background: #fff;
  padding: 3%;
  border: 1px solid #000;
}

/*--- DRAG AND DROP ---*/
[draggable] {
    user-select: none;
}

/*--- EDIT SET STYLES ---*/
#edit_view {
  button {
    padding: 2%;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    margin: 1% 0;
  }

  .stats {
    position: absolute;
    top: 2%;
    font-size: 1em;
    background: yellowgreen;
    padding: 2%;
    border: 1px solid gray;
  }

  .count {
    left: 2%;
  }

  .total-time {
    right: 2%;
  }

  .time {
    color: chocolate;
    font-weight: bold;
    position: absolute;
    bottom: -20px;
    font-size: .3em;
    right: 3px;
  }

  #all_sets {
    display: flex;

    #set_1, #set_2, #set_3 {
      position: relative;
      padding: 1%;
    }
  }

  #bench {
    padding: 3%;
    background: lightblue;

    .song {
      display: inline-block;;
      margin: 0 2px;
      padding: 0 1%;
      background-color: aliceblue;
    }
  }

  #trash {display: none;}

  .set-container {
    flex: 1;
    min-height: 300px;
    border: 1px solid #000;
    background-color: beige;
    text-align: center;
  }

  /*--- SETLIST ---*/
  .setlist {
    ul {
      border-bottom: 1px dotted gray;
      padding: 2% 0;
    }
    li {
      display: inline-flex;
      padding: 0 3%;
    }
  }
}


/*--- DATEPICKER ---*/
div#ui-datepicker-div {
    background: yellowgreen;
    padding: 3%;
}
.ui-datepicker-calendar {
  background: lemonchiffon;
  padding: 1%;
}

/*--- NAV ---*/

nav {
  li {
      font-size: 1.5em;
      padding: 2%;
      display: inline-block;

    a {
      color: #fff;
    }
  }
}
/*--- HOME PAGE ---*/
#home {
  margin: 0 auto;
  width: 90%;
  color: #fff;
}

/*--- SET LIST VIEW ---*/
.content {
  background: #fff;
  padding: 2%;
  #view_setlist {
    display: flex;
    text-align: center;
    margin: 3% 0;
    .set-container {
      flex: 1;
    }
  }
}

/*--- GENERAL---*/
body {
  background-color: gray ;
  padding: 0 5%;
}

h1, h3 {
  padding: 2% 1%;
  text-align: center;
  background-color: yellowgreen;
  text-shadow: 2px 2px 5px #888;
  color: #fff;
}

h2 {
  line-height: 2em;
}

li {list-style-type: none;}

input {
  margin-right: 5%;
}

.left {float: left;}

/*--- PRINT ---*/
@media print {
  * {
    color: #000;
  }
   nav, button {
     display: none;
   }
   a {
     text-decoration: none;
   }
   .song {
     border: none;
     padding: 0;

     &.edit {
       line-height: 1.3em;
       .set-container & {
         height: inherit;
       }
     }
   }
}
