extends ../layout

block content
	h1 #{song.name}
	form(action='/songs/#{song._id}/edit',method='post',name='updatesong',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{song.name}', name='name')
		p Artist:
			input#inputArtist(type='text', value='#{song.artist}', name='artist')
		textarea(cols='75' rows='50' onKeyup="document.getElementById('result').innerHTML=PARSER.parse(this.value)")
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button.btn.btn-default.btn-primary#btnSubmit(type='submit').
				Update
	pre
		textarea#result(cols='75' rows='50')
