extends ../layout

block content
    h1.
         #{title}
    ul
        - each song, i in songs
            li
                = song.name
                = song.badge
                = song.dob
                = song.isloved
                = song._id
                form(action='/songs/#{song._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/songs/#{song._id}/edit') Edit
                p
                    a(href='/songs/#{song._id}') Show