extends ../layouts/layout

block content
    .content
      form#formAddSong(name="addsong",method="post",action="/songs")
        .row
          .wide
            label Name*:
              input#inputName(type="text", placeholder="Free Bird", name="name" required)
          .wide
            label Artist:
              input#inputArtist(type="text", placeholder="Lynard Skynard", name="artist")
          .wide
            label Time:
              input#time_minutes(type="number", placeholder="0", min="0", max="30", name="timeMinutes")
              input#time_seconds(type="number", placeholder="00", min="0", max="59", name="timeSeconds")
          div
            button#btnSubmit(type="submit") Add Song
      h3 #{title}
      - each song, i in songs
          div.song
            ul
              li.name
                b
                  a(href='/songs/#{song._id}')
                    = song.name
              li.time
                = song.time
              li.action
                form(action='/songs/#{song._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
              li.action
                  button(onclick="window.location='/songs/#{song._id}/edit'") Edit
