extends ../layout
// THIS FILE IS NOT USED
block content
	h1.
		#{title}
	form#formAddSong(name="addsong",method="post",action="/songs")
		p Name:
			input#inputName(type="text", placeholder="Free Bird", name="name")
		p Artist:
			input#inputArtist(type="text", placeholder="Lynard Skynard", name="artist")
		p
			button.btn.btn-default.btn-primary#btnSubmit(type="submit") submit
