extends ../layout

block content
    div.show-song
      h1.bg-primary.text-center #{song.name}
      p
        input(type='button', value='Back', onclick='history.back(-1)')

      p
          a(href='/songs/#{song._id}/edit') Edit
      textarea#input.left(cols='50' rows='30' style="display: none;" name="chart" onKeyup="document.getElementById('result').innerHTML=PARSER.parse(this.value)") #{song.chart}
      #result.right
