extends ../layout

block content
    h3.bg-primary.text-center #{title}
    form(action='/setlists/#{setlist._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
        input(type='hidden',value='',name='songArray',id='songArray')
        input(type='hidden',value='PUT',name='_method')
        button(type='submit') Save Set List
    h5 All Songs
    - each song, i in songs
        div.song(data-id='#{song._id}' data-name='#{song.name}' ondragend='document.getElementById("songArray").value = getOrder();' draggable='true' ondragenter='dragenter(event)' ondragstart='dragstart(event)')
          ul
            li
              b
                = song.name
            li by&nbsp;
              = song.artist
