extends ../layout

block content
  #setlist_view
    h1.bg-primary.text-center #{setlist.name}
    ul
      each k, v in JSON.parse(songArray)
        div
          ul
            li
              = k
    p
        a(href='/setlists/#{setlist._id}/edit') Edit this Setlist
