extends ../layout

block content
    h1.bg-primary.text-center #{setlist.name}
    ul
      each k, v in JSON.parse(songArray)
        div
          ul
            li
              = k
    p
        a(href='/setlists/#{setlist._id}/edit') Edit
    p
        a(href='/setlists') All Setlists
